<header class="header">
  <a [routerLink]="rotas.HOME" class="logo">
    <span class="logo-primary">MEN'S</span>
    <span class="logo-secondary">shop</span>
  </a>

  <div class="header-options">
    <ng-container *ngIf="!usuarioLogado; else menuUsuarioLogado">
      <i
        class="carrinho pi pi-shopping-cart text-3xl mr-4"
        badgeClass="p-badge-contrast"
        pBadge
        [routerLink]="rotas.CARRINHO"
        [value]="quantidadeItensCarrinho"
      >
      </i>
      <p-button
        icon="pi pi-user"
        severity="secondary"
        label="Entrar"
        [raised]="true"
        [plain]="true"
        [routerLink]="rotas.LOGIN"
      />
    </ng-container>
    <ng-template #menuUsuarioLogado>
      <p-menu #menu [model]="itemsMenu" [popup]="true" />
      <p-button (onClick)="menu.toggle($event)" icon="pi pi-user"/>
    </ng-template>
  </div>
</header>
<p-messages *ngIf="!usuarioLogado" [(value)]="logoffMensagem" [enableService]="false" />
