<header class="header">
  <div class="logo">
    <span class="logo-primary">MEN'S</span>
    <span class="logo-secondary">shop</span>
  </div>

  <div class="header-options">

    <i
      class="pi pi-shopping-cart text-3xl mr-4"
      badgeClass="p-badge-contrast"
      pBadge
      [value]="itensCarrinho"
    >
    </i>
    <p-button
      severity="secondary"
      [label]="isLoggedIn ? 'Sair' : 'Entrar'"
      [raised]="true"
      [plain]="true"
      (click)="toggleLogin()"
    />
  </div>
</header>
