<app-base-page>
  <div class="min-h-screen">
    <p-toolbar>
      <div class="p-toolbar-group">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Buscar" />
        </span>
      </div>
    </p-toolbar>
    <p *ngIf="estaLogado" class="m-3">
      Olá, sr (a) <span class="font-bold">{{ nomeUsuario }}</span>, o que compraremos hoje ?
    </p>
    <app-products-panel [products]="products"></app-products-panel>
  </div>
</app-base-page>
