<div class="login-container flex py-4 justify-content-center align-items-center min-h-screen">
  <div class="surface-card p-4 shadow-2 border-round w-full sm:w-10 md:w-6 lg:w-4">
    <div class="text-center mb-4">
      <h2 class="logo mb-2">
        <a routerLink="/home">
          <span class="logo-primary">MEN'S</span>
          <span class="logo-secondary">shop</span>
        </a>
      </h2>
      <p class="text-sm text-gray-500">{{ titulo }}</p>
    </div>
    <p-confirmDialog />
    <ng-content></ng-content>
  </div>
</div>
