<footer class="text-white px-4 py-2">
  <div class="flex flex-column md:flex-row md:justify-between md:items-start gap-5 max-w-screen-xl mx-auto">

    <div class="flex-1">
      <a [routerLink]="rotas.HOME" class="text-xl font-bold mb-2"><span class="logo">MEN'S</span> shop</a>
      <p class="text-sm">Moda masculina com estilo e praticidade.</p>
    </div>

    <div>
      <h4 class="text-md font-semibold mb-2">Siga-nos</h4>
      <div class="flex gap-3 text-lg">
        <a href="https://www.facebook.com/"><i class="pi pi-facebook hover:text-blue-500"></i></a>
        <a href="https://www.instagram.com/"><i class="pi pi-instagram hover:text-pink-400"></i></a>
        <a href="https://x.com/"><i class="pi pi-twitter hover:text-cyan-400"></i></a>
      </div>
    </div>
  </div>

  <hr class="my-2 border-gray-700" />

  <div class="text-center text-sm text-gray-400">
    &copy; 2025 MEN'S shop. Todos os direitos reservados.
  </div>
</footer>
