<div class="card">
  <p-carousel
    *ngIf="products?.length; else nenhumProdutoEncontrado"
    [value]="products"
    [numVisible]="4"
    [numScroll]="4"
    [responsiveOptions]="responsiveOptions"
    circular="false"
    styleClass="custom-carousel"
  >
    <ng-template let-product pTemplate="item">
      <div style="max-width: 430px;" class="border-1 surface-border border-round m-2 p-3 flex flex-column h-full">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              style="max-width: 400px; max-height: 320px;"
              [src]="product.imagem"
              [alt]="product.nome"
              class="w-full border-round"
            />
          </div>
        </div>

        <div class="font-medium text-left">
          {{ product.nome }}
        </div>
        <p-dropdown
          [options]="montaOptions(product.tamanhos)"
          optionLabel="name"
          placeholder="Tamanho"
          [(ngModel)]="product.tamanhoSelecionado"
          [disabled]="!product.tamanhos.length"
          class="tamanho mt-2 w-full sm:w-12rem"
          appendTo="body"
        ></p-dropdown>

        <div class="flex flex-column sm:flex-row sm:justify-content-between sm:align-items-center mt-auto gap-2">
          <div class="font-semibold text-xl text-center sm:text-left">
            {{ product.preco | currency:'BRL':'symbol':'1.2-2' }}
          </div>

          <div class="flex justify-content-center sm:justify-content-end gap-2">
            <p-button
              tooltipPosition="top"
              pTooltip="Adicionar ao carrinho"
              alt="Adicionar ao carrinho"
              icon="pi pi-shopping-cart"
              severity="secondary"
              [outlined]="true"
              (click)="adicionarAoCarrinho(product)"
            ></p-button>

            <p-button
              tooltipPosition="top"
              pTooltip="Comprar agora"
              alt="Comprar agora"
              icon="pi pi-shopping-bag"
              styleClass="ml-0 sm:ml-2"
              (click)="comprar(product)"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <ng-template #nenhumProdutoEncontrado>
    <div class="text-center p-6 surface-100 border-round mt-5">
      <i class="pi pi-search text-4xl text-gray-400 mb-3"></i>
      <p class="text-gray-500 text-lg">Nenhum produto encontrado.</p>
    </div>
  </ng-template>
</div>
